<template>
  <div class="image-container">
    <img class="art-image" :src="image" @click="$refs.modal.open()" :alt="name" />
    <modal :image="image" ref="modal" :label="name"></modal>
  </div>
</template>

<script>
import IconButton from "~/components/IconButton.vue";
import Modal from "~/components/Modal.vue";

export default {
  name: "ArtImage",
  components: {
    IconButton,
    Modal
  },
  props: {
    image: String,
    name: String,
    article: String
  }
};
</script>

<style scoped>
.image-container {
  position: static;
  margin-bottom: 30px;
}

.art-image {
  display: block;
  width: 100%;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out, transform 0.15s ease-in-out;
}

.art-image:hover {
  box-shadow: 0 8px 20px 0 rgba(138, 150, 161, 0.8);
  transform: translateY(-2px);
}
</style>
