<template>
  <div id="bottom-bar">
    <a class="email-link icon-link hover-blue" href="mailto:Weronika.v.Kowalczyk@gmail.com">
      <div class="email-icon">
        <i class="material-icons">email</i>
      </div>
      <div class="email-label">Weronika.v.Kowalczyk@gmail.com</div>
    </a>
  </div>
</template>

<script>
export default {
  name: "BottomBar"
};
</script>

<style scoped>
#bottom-bar {
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  margin-top: auto;
  background-color: rgb(209, 209, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icon-link {
  text-decoration: none;
}

.email-link {
  display: flex;
  height: 28px;
  line-height: 28px;
}

.email-label {
  margin-left: 7px;
  font-weight: normal;
  font-size: 16px;
}

.email-icon {
  position: relative;
  display: inline-block;
  background-color: rgb(66, 66, 66);
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.email-icon i {
  color: white;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.5px;
  right: 0;
  text-align: center;
}
</style>
