<template>
  <div class="game-overview">
    <nuxt-link class="game-label hover-blue" :to="link">{{ label }}</nuxt-link>
    <nuxt-link class="game-image" :to="link"><img :src="image"/></nuxt-link>
    <p class="blurb"><slot></slot></p>
  </div>
</template>

<script>
export default {
  name: 'GameOverview',
  props: {
    label: String,
    image: String,
    article: String
  },
  computed: {
    link() {
      return '/article/' + this.article
    }
  }
}
</script>

<style scoped>
.game-overview {
  width: 80%;
  margin: 50px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-label {
  margin: 0 auto;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.game-image {
  margin: 20px auto;
}

.game-image > img {
  max-width: 100%;
}

.blurb {
  margin: 0 auto;
  max-width: 900px;
}
</style>
