<template>
  <nuxt-link
    :to="'/article/' + article"
    class="hero"
    :style="{ 'background-image': 'url(' + img + ')' }"
  >
    <div class="hero-label">
      <div class="catarina-bar"></div>
      <span>
        <slot></slot>
      </span>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  name: "HeroImage",
  props: {
    img: String,
    article: String
  }
};
</script>

<style scoped>
.hero {
  position: relative;
  height: calc(100vh - 150px);
  flex: 1;
  margin: 0 10px;
  min-width: 220px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  overflow-x: hidden;
}

@media screen and (max-width: 800px) {
  .hero {
    flex-shrink: 0;
    margin: 20px 10px;
  }
}

.hero-label {
  position: absolute;
  top: calc(100% - 110px);
  left: 50px;
  right: 25px;
  font-size: 26px;
  line-height: 32px;
  color: white;
  font-weight: 800;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
  transform-origin: bottom left;
  text-shadow: 2px 2px 6px #000000;
}

.hero:hover > .hero-label {
  transform: scale(1.1);
}

.catarina-bar {
  width: 75px;
  height: 10px;
  background: white;
  margin-bottom: 7px;
  box-shadow: 1px 1px 4px #0000008a;
}
</style>
