<template>
  <div class="button-container hover-blue" @click="$emit('click', $event)">
    <div class="button material-icons">{{ icon }}</div>
    <span>{{ label }}</span>
  </div>
</template>

<script>
export default {
  name: 'IconButton',
  props: {
    label: String,
    icon: String
  }
}
</script>

<style scoped>
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70px;
  height: 87px;
  color: whitesmoke;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.button-container span {
  width: 100%;
  text-align: center;
  color: whitesmoke;
}

.button {
  font-size: 45px;
  user-select: none;
  border-radius: 30px;
  text-decoration: none;
  margin: 0 auto;
  border: 2px solid whitesmoke;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
</style>
