<template>
  <div v-if="opened" class="modal-background" @click="opened = false">
    <img class="modal" :src="image" />
    <div class="modal-label">{{ label }}</div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: {
    image: String,
    label: String
  },
  data() {
    return {
      opened: false
    };
  },
  methods: {
    open() {
      this.opened = true;
    }
  }
};
</script>

<style scoped>
.modal-background {
  z-index: 5;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 5vh;
  bottom: 1vh;
  left: 0;
  right: 0;
  padding-bottom: 100px;
  max-width: 85vw;
  max-height: 85vh;
  margin: auto;
}

.modal-label {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50vw;
  width: fit-content;
  padding-bottom: 0px;
  color: white;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  border-color: rgba(255, 255, 255, 0.5);
  border-bottom-style: solid;
  border-width: 1px;
}

@media screen and (max-width: 1000px) {
  .modal {
    max-width: 95vw;
  }
}
</style>
