<template>
  <div class="model-container" onclick="">
    <div class="model" :style="{ backgroundImage: 'url(' + thumbnail + ')' }"></div>
    <div class="cover">
      <div class="name">{{ name }}</div>
      <icon-button class="interact" label="Interact" icon="3d_rotation" @click="open = true"></icon-button>
      <nuxt-link class="article" :to="'/article/' + article">
        <icon-button label="Article" icon="subject"></icon-button>
      </nuxt-link>
    </div>
    <iframe v-if="open" :src="embed + '?preload=1&autostart=1'" sandbox="allow-scripts allow-same-origin allow-popups allow-forms"></iframe>
  </div>
</template>

<script>
import IconButton from '~/components/IconButton.vue'

export default {
  name: 'Model',
  components: {
    IconButton
  },
  props: {
    embed: String,
    thumbnail: String,
    name: String,
    article: String
  },
  data() {
    return {
      open: false
    }
  }
}
</script>

<style scoped>
.model-container {
  position: relative;
}

.model {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  background-size: cover;
  cursor: pointer;
}

.thumb {
  width: 100%;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.model-container:hover .cover {
  opacity: 1;
}

.name {
  color: whitesmoke;
  font-size: 24px;
  position: absolute;
  top: 15px;
  left: 20px;
}

.interact {
  position: absolute;
  bottom: 7px;
  left: 15px;
}

.article {
  position: absolute;
  bottom: 7px;
  right: 15px;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .cover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.0);
  }
}

iframe {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
</style>
