<template>
  <nav id="header">
    <div id="nika-name">
      <nuxt-link to="/" class="link hover-blue">
        WERONIKA
        <br />KOWALCZYK
      </nuxt-link>
      <span id="nika-title">GAME ARTIST</span>
    </div>
    <div id="nav-links">
      <nuxt-link to="/" class="link hover-blue">HOME</nuxt-link>
      <!--
      <nuxt-link to="/models" class="link hover-blue">
        3D
        <span>WORK</span>
      </nuxt-link>
      -->
      <nuxt-link to="/images" class="link hover-blue">
        2D
        <span>WORK</span>
      </nuxt-link>
      <nuxt-link to="/games" class="link hover-blue">GAMES</nuxt-link>
      <nuxt-link to="/about" class="link hover-blue">ABOUT</nuxt-link>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'NavBar'
}
</script>

<style scoped>
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: space-between;
  z-index: 1;
  box-shadow: 0 2px 5px 0 rgba(138, 150, 161, 0.1);
}

.link {
  text-decoration: none;
  color: black;
}

#nika-name {
  font-weight: 700;
  line-height: 36px;
  margin: 12px 0 12px 15vw;
  font-size: 32px;
}

#nika-title {
  font-size: 19px;
  letter-spacing: -0.01em;
  font-weight: 500;
}

#nav-links {
  line-height: 100px;
  font-weight: 600;
  margin-right: 15vw;
}

#nav-links .link {
  margin: 0 25px 0 0;
}

.hover-blue {
  display: inline;
}

@media screen and (max-width: 1200px) {
  #nika-name {
    margin-left: 7vw;
  }

  #nav-links {
    margin-right: 7vw;
  }
}

@media screen and (max-width: 1000px) {
  #nika-name {
    margin-left: 20px;
  }

  #nav-links {
    margin-right: 0;
  }
}

@media screen and (max-width: 850px) {
  #nika-title {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .link span {
    display: none;
  }

  #nav-links > .link:first-child {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  #nika-name {
    font-size: 30px;
    line-height: 36px;
    margin: 14px 5px;
  }
}

@media screen and (max-width: 700px) {
  #nika-name {
    font-size: 13px;
    line-height: 18px;
    font-weight: 800;
    margin: 5px 5px 5px -40px;
    transform: rotate(90deg);
    letter-spacing: -0.05em;
  }

  .link span {
    display: unset;
  }
}

@media screen and (max-width: 450px) {
  .link span {
    display: none;
  }
}
</style>
