<template>
  <div id="layout-container" ref="container">
    <nav-bar></nav-bar>
    <nuxt />
    <bottom-bar></bottom-bar>
  </div>
</template>

<script>
import NavBar from "~/components/NavBar.vue";
import BottomBar from "~/components/BottomBar.vue";

export default {
  components: {
    NavBar,
    BottomBar,
  },
  watch: {
    "$route.path"() {
      if (this.$refs.container && this.$refs.container.parentElement) {
        this.$refs.container.parentElement.scrollTop = 0;
        document.getElementsByTagName("html")[0].scrollTop = 0;
      }
    },
  },
};
</script>

<style>
html,
body,
#__nuxt,
#__layout {
  background-color: rgb(230, 230, 230);
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  line-height: 24px;
}

#layout-container {
  position: relative;
  min-height: calc(100vh - 100px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
</style>
