<template>
  <div id="layout-container">
    <nav-bar></nav-bar>
    <nuxt class="gallery-container" />
    <bottom-bar></bottom-bar>
  </div>
</template>

<script>
import NavBar from "~/components/NavBar.vue";
import BottomBar from "~/components/BottomBar.vue";

export default {
  components: {
    NavBar,
    BottomBar
  }
};
</script>

<style>
html,
body,
#__nuxt,
#__layout {
  background-color: rgb(230, 230, 230);
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

#layout-container {
  position: relative;
  padding-top: 100px;
  min-height: calc(100vh - 100px);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.gallery-container {
  position: static;
  padding-top: 10px;
  margin: 0 30px 10px;
  column-count: 3;
  column-gap: 30px;
}

@media screen and (max-width: 900px) {
  .gallery-container {
    column-count: 2;
    column-gap: 20px;
  }
}
</style>
