<template lang="md">

# Aumi

<iframe width="560" height="315" src="https://www.youtube.com/embed/prCkzOEuBRU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

Aumi is an adventure game based on The Legend of Zelda: The Minish Cap where you play a small plant creature on a quest to return the king's crown. Made in 8 weeks halftime at The Game Assembly.

In this project I was responsible for:

- All UI and logos
- Finalization of character designs
- Ground tiles
- Some 2D animation 
- Light work on in-game sprites and models
- Organizing pipelines, scrum and meetings


 ![](/Aumi/WeronikaKowalczyk_AumiMainCharacterDesign.jpg)

 ![](/Aumi/WeronikaKowalczyk_AumicharacterProps.jpg)

 ![](/Aumi/WeronikaKowalczyk_AumiFinalDesigns.jpg)

  <div class="side-by-side">
    <img src="/Aumi/WeronikaKowalczyk_AumiKeyFriendAnimation.gif" />
    <img src="/Aumi/WeronikaKowalczyk_AumiKingCrying.gif" />
  </div>
  
 ![](/Aumi/WeronikaKowalczyk_AumiLogPushingAnimation.gif)



 ![](/Aumi/AumiScreenshot1.jpg)

 ![](/Aumi/AumiScreenshot10.jpg)

 ![](/Aumi/AumiScreenshot19.jpg)


</template>
