<template lang="md">

# Breadwinner Dinner

<iframe title="vimeo-player" src="https://player.vimeo.com/video/395697951" width="640" height="360" frameborder="0" allowfullscreen></iframe>

You know how it is. You are on a dinner date. The one on the other side of the table is beautiful and funny and there's only one thing you are there for. The food! However, the restaurant only has so much food and you do not want to go home hungry. You lock eyes with your table partner and the game is on.
Breadwinner Dinner is the ultimate dinner experience for two players.

Breadwinner was created during a 48 hours game jam hosted by Coffee Stain at The Game Assembly. Later polished to add multiple game modes.

In this project I was responsible for creating 3D assets, we decided to only use vertex colors as "textures" which led to more polygon use but more efficient asset creation.


![](/Breadwinner%20Dinner/WeronikaKowalczyk_ModellShowcase.png)

![](/Breadwinner%20Dinner/WeronikaKowalczyk_ModellShowcaseWireframe.png)

<iframe src="https://itch.io/embed/595782" height="167" width="552" frameborder="0"><a href="https://vilwe.itch.io/breadwinner-dinner">Breadwinner Dinner by Ville Westermark</a></iframe>

![](/Breadwinner%20Dinner/BreadwinnerScreenshot.jpg)

![](/Breadwinner%20Dinner/InstallerSplashscreenBreadwinner2.jpg)

![](/Breadwinner%20Dinner/InstallerSplashscreenBreadwinner3.jpg)
</template>
