<template lang="md">

# Crusader Kings III
<iframe width="560" height="315" src="https://www.youtube.com/embed/xjn66Cl3pMA?si=MM4zpEqV64zW8oN6" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


A compilation of some of the work I did on Crusader Kings 3! I was the main UI artist for the Iberian Struggle DLC and assisted the development of the Royal Court DLC.
<br />
<br />
Some painted icons, a handful of vectors and a few screen designs. I also did a lot of bug fixing, polishing and animation in engine which I greatly enjoyed but isn't the coolest thing to show off. I was responsible for the Iberian Struggle feature, basing my art off the UX design of the wonderful Daniel Velasquez. Thank you to the whole lovely UI team, you made every day at work fantastic :-)

<br />

![](/Crusader%20Kings/1crusader_kings_icons.jpg)
A compilation of icons in different styles I did over the course of the project.

<br />

![](/Crusader%20Kings/2crusader_kings_IS.jpg)
Design for the game changing events in the Iberian Struggle DLC. Illustration by Oscar Sjöstedt.

<br />

![](/Crusader%20Kings/3crusader_kings_IS.jpg)
On the main screen representing the Iberian Struggle, the players can examine which actions will lead to different types of war phases.

<br />

![](/Crusader%20Kings/4crusader_kings_IS.jpg)
Here the HUD decorations change because the player is a Viking, a culture which would be an interloper in the Iberian Struggle. The fact that they are an interloper is reflected in the banner color changing to green. They are viewing the requirements to end Struggle but are unable so at the time.

<br />

![](/Crusader%20Kings/5crusader_kings_IS.jpg)
Here we can see that the player can end the Struggle.

<br />

![](/Crusader%20Kings/6crusader_kings_map.jpg)
New starting locations map, in the same art syle as the other existing maps.

<br />

![](/Crusader%20Kings/7crusader_kings_COA.jpg)
New vectors I made for the Coat of Arms editor.

<br />

![](/Crusader%20Kings/8crusader_kings_artifact.jpg)
Visual development I did for the artifacts in the Royal Court DLC. This was later taken over by Jon Astrup Hällkvist, who did a fantastic job!

<br />

</template>
