<template lang="md">

# Spite: Beyond Salvation

<iframe width="560" height="315" src="https://www.youtube.com/embed/QarkeAKU8D8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

Spite: Beyond Salvation is a Diablo-style action RPG where you play as a plague doctor, sent out by the Royal Alchemist Society to purge a strange illness in the city and destroy the source. Made in 10 weeks halftime at The Game Assembly.


In this project I was responsible for:

- All UI except ability icons
- Mockup for the game
- 3D assets for enemies and backgrounds
- House module kit creation
- Concept art for VFX and props
- Organizing pipelines, scrum and meetings



 ![](/Diablo/WeronikaKowalczyk_Sculpts.jpg)

 ![](/Diablo/WeronikaKowalczyk_SpiteMockup.jpg)

 ![](/Diablo/WeronikaKowalczyk_VFXBreakdown.jpg)

 ![](/Diablo/WeronikaKowalczyk_DesignsDiablo.jpg)
 


 ![](/Diablo/WeronikaKowalczyk_SpiteScreenshot1.jpg)

 ![](/Diablo/WeronikaKowalczyk_SpiteScreenshot2.jpg)

 ![](/Diablo/WeronikaKowalczyk_SpiteScreenshot3.jpg)



</template>
