<template lang="md">
# Header 1

## Header 2

### Header 3

#### Header 4

##### Header 5

###### Header 6

This is an example paragraph of plain text
without any line breaks

This is an example paragraph with  
line breaks. Notice the two spaces after with in the markdown!

<iframe width="560" height="315" src="https://www.youtube.com/embed/GvD3CHA48pA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

This is an example of **bold text**  
So __is this__

This is an example of *italicized text*  
So _is this_

You can do bold and italics ***with three***  
And it works ___both ways___

>This is a block quote

>This is a block quote
>
>It has two paragraphs

>This is another block quote
>
>>But with a nested block quote!

    This is a code block
    It's made via indentation

`You can also mark one line as code`

![You can make images too](/win_good_.png)

***

Links work of course, you can go to  [the best site ever to confirm](http://wovve.club)

1. You can
2. Make ordered
3. Lists

- unordered
- lists
</template>
