<template lang="md">

# Hunter

<iframe width="560" height="315" src="https://www.youtube.com/embed/zdMHsbNQPX8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

Hunter is a platforming game based on Shovel Knight, where you play a knight coming back home and finding their village corrupted by a unknown force. Made in 8 weeks halftime at The Game Assembly.

In this project I was responsible for:

- All UI
- Main character design
- Into and outro cutscene illustrations and compositing
- Mockup
- Ground tiles
- Particles
- Organizing pipelines, scrum and meetings



 ![](/Hunter/MockupHunter.jpg)

 ![](/Hunter/WeronikaKowalczyk_HunterCharacterDesign.jpg)

 ![](/Hunter/WeronikaKowalczyk_HunterColorkey.jpg)
  
 ![](/Hunter/WeronikaKowalczyk_HunterCutscene1.jpg)

 ![](/Hunter/WeronikaKowalczyk_HunterCutscene2.jpg)


 ![](/Hunter/hunter_screenshot1.jpg)

 ![](/Hunter/hunter_screenshot2.jpg)

 ![](/Hunter/hunter_screenshot3.jpg)


</template>
