<template lang="md">

# Imperator: Rome

![](/Imperator%20Rome/UI-before-and-after.jpg)
A window from the game before (left) and after (right) the UI overhaul.

<br />

I worked on the interface rework for Imperator: Rome, a grand strategy game by Paradox Development Studio. This includes the "Heirs of Alexander" DLC released around the same time.

My work responsibilities included scripting using our engine Clauserwitz, polishing menus, visual development and creating icons.

<br />

![](/Imperator%20Rome/techtree-UX-visdev.jpg)
The process of the rehauled technology tree, from UX to visual mockup. UX by Sofia Uhr.

<br />

![](/Imperator%20Rome/tech-tree-final.jpg)
Implementation of technology tree, some elements were moved around and others were added later in development. Decorative background by Timor Khanagov.

<br />

![](/Imperator%20Rome/loading-screen.jpg)
I designed the loading screen borders decorating the illustrations.

<br />

![](/Imperator%20Rome/Achievement-icons.jpg)
Achievement icons for distribution platforms.

<br />

![](/Imperator%20Rome/legions-Before-after.gif)
Screenshot of a UI before and after getting a art scripting polish pass.

<br />

</template>
