<template lang="md">

# Molly Mech

<iframe width="560" height="315" src="https://www.youtube.com/embed/kOtx2C4698E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

Molly Mech is a classic shoot 'em up about a fierce young pilot who battles the evil corporation trying to take over her home city. Created at The Game Assembly in 8 weeks halftime.

In this project I was responsible for:

- All UI and logos
- Into and outro cutscene illustrations
- 3D modelling for enemies and backgrounds
- Organizing pipelines, scrum and meetings



 ![](/Molly%20Mech/WeronikaKowalczyk_Cutscene1.jpg)

 ![](/Molly%20Mech/WeronikaKowalczyk_Cutscene2.jpg)

![](/Molly%20Mech/WeronikaKowalczyk_Cutscene3.jpg)


![](/Molly%20Mech/WeronikaKowalczyk_GameLogoDesign.jpg)

![](/Molly%20Mech/WeronikaKowalczyk_DevTeamLogo.jpg)

![](/Molly%20Mech/MollyMech4.jpg)
![](/Molly%20Mech/MollyMech7.jpg)
![](/Molly%20Mech/MollyMech8.jpg)
</template>
