<template lang="md">

# One Monster RPG: Running Out of Slime

<iframe src="https://itch.io/embed/465758" height="167" width="552" frameborder="0">
<a href="https://simonisacssona.itch.io/one-monster-rpg-running-out-of-slime-v2">One Monster RPG: Running Out of Slime (v.2) by simonisacssona</a>
</iframe>

A game where our seasoned hero is mere inches away from gaining enough EXP to reach Level 100 but! There is only one monster left in the world, so he needs to feed it to grow it strong enough for leveling up! Orignally made for the GMTK 2019 game jam and the team worked a extra day to polish it up, totaling 72 hours of worktime. Notably, had a [PCgamer](https://www.pcgamer.com/uk/this-free-game-only-has-one-tiny-enemy-and-youve-got-to-grow-it-into-a-boss/?utm_content=bufferb29c1&utm_medium=social&utm_source=facebook&utm_campaign=buffer_pcgamerfb&fbclid=IwAR01D6vFMTmvzHQpXd-hqI7LplBaiOUodK0bYdwu8kHpyNGXpqkg2pbgkdk) and [Kotaku](https://kotaku.com/one-monster-rpg-is-a-game-in-which-you-raise-a-slime-as-1837635346) article written about it.

In this project I was responsible for:

- Lighting setup
- Artstyle tests
- Using modules to build houses
- Stylized texture pass on buildings
- Assorted 2D coloring and sprites
- End credit images


![](/2D/WeronikaKowalczyk_CreditPoses.png)

![](/One%20Monster%20RPG/WeronikaKowalczyk_OneMonsterRPG1.jpg)

![](/One%20Monster%20RPG/WeronikaKowalczyk_OneMonsterRPG2.jpg)


![](/One%20Monster%20RPG/OneMonsterRPGScreenshot.png)


</template>
