<template lang="md">

# Post Haste

<iframe width="560" height="315" src="https://www.youtube.com/embed/xmlIIVHHgB0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

Post Haste is an arcade racing game, where you play as a daring post pilot who must deliver their first package to prove themselves as a pilot. Made in 10 weeks halftime at The Game Assembly.

In this project I was responsible for:

- Art guide 
- 3D asset creation
- Material creation
- Concept art for props and ships
- Skybox/cubemap painting
- Organizing pipelines, scrum and meetings


![](/Post%20Haste/WeronikaKowalczyk_PostHasteShipDesigns.jpg)

![](/Post%20Haste/WeronikaKowalczyk_PostHasteShipColors.jpg)

![](/Post%20Haste/WeronikaKowalczyk_PostHasteSculpts.jpg)

![](/Post%20Haste/WeronikaKowalczyk_PostHasteLogo.png)

![](/Post%20Haste/WeronikaKowalczyk_Materials.jpg)

![](/Post%20Haste/WeronikaKowalczyk_Skybox.jpg)



![](/Post%20Haste/Screenshot1.jpg)

![](/Post%20Haste/Screenshot2.jpg)

</template>
