<template lang="md">

# Welcome Home

![](/home/WeronikaKowalczyk_WelcomHomeScene.jpg)

A simple asset presententation of gameready shoes and skateboard, created in 2 weeks at The Game Assembly. 

Most highpoly versions of assets in this scene were created in a combination of Maya and Zbrush and then textured in Substance Painter. Materials like the griptape, floor and wall were created using Materialize, imported into Painter and the final pieces have been presented in Marmoset Viewer.

<br />

This was created as a companion piece to my skater girl to show of the smaller assets that were overshadowed by the character. I was inspired by my student living and how I sometime's leave frequently used stuff sloppily by the door, for references I asked friends to take pictures of how their floors look when coming home and looked at the wear and dirt for inspiration. 

Huge thank you to [Robert Pettersson](https://www.robegarden.artstation.com/) for helping me with information about skateboards and all of my classmates for continiously giving feedback, even when working long distance.

<br />

![](/3D/WeronikaKowalczyk_WelcomHomeScene3.jpg)

<br />

![](/3D/WeronikaKowalczyk_Shoes2.jpg)
1450 vertices and 1k texture

<br />

![](/3D/WeronikaKowalczyk_Skateboard.jpg)
2053 vertices and 1k texture

<br />

![](/3D/WeronikaKowalczyk_ShoeDesigns.jpg)
The shoes and skateboard backside are both of own design.

<br />
 
![](/3D/WeronikaKowalczyk_WelcomeHomeAssetBreakdown.jpg)
Everything in the scene has a 1k texture. [A gameready version off the totebag and the original use of the jacket, shoes and skateboard can be found by clicking here](https://weronikaportfolio.com/article/skater)

<br />

![](/3D/WeronikaKowalczyk_WelcomeHomeAssetBreakdownWireframe.jpg)
[The totebag mesh is unoptimized, a straight Zremesh in Zbrush, and not intented as a gameready asset, the gameready version can be found by clicking here.](https://weronikaportfolio.com/article/skater)

<br />

![](/3D/WeronikaKowalczyk_Overview.jpg)
The scene from a external perspective.

<br />

</template>
