<template>
  <main id="about-page">
    <div class="content-container">
      <img
        id="selfie"
        :src="clicks >= 3 ? '/polka.jpg' : '/cv picture web.jpg'"
        @click="clicks++"
        alt="What I look like"
      />
      <!-- Hell yeah look at that good face -->
    </div>
    <div class="content-container">
      <p>
      I'm an artist that enjoys in all aspects of visual developement, always interested in 
      cool new opportunities. My favorite aspects of game development is the cooperation, 
      versatility of tasks and iteration of designs.
      </p>
      
      <p>
      I'm currently working at 
        <a
        class="hover-blue"
        href="https://www.massive.se/"
        target="blank"
        >
        Ubisoft Massive,
        </a> and my previous employment was with 
        <a
        class="hover-blue"
        href="https://www.paradoxinteractive.com/"
        target="blank"
        >
        Paradox Interactive.
        </a> Before this I had my education as a game artist at 
        <a
        class="hover-blue"
        href="https://www.thegameassembly.com/"
        target="blank"
        >
        The Game Assembly.
        </a>
      </p>

      <hr />

      <p>
        <a
          href="/WeronikaKowalczyk_CV.pdf"
          download="WeronikaKowalczyk_CV"
          class="hover-blue"
          >Download CV</a
        >
        <a
          class="content-link icon-link hover-blue"
          href="mailto:Weronika.v.Kowalczyk@gmail.com"
        >
          <div id="email" class="icon">
            <i class="material-icons">email</i>
          </div>
          <div class="content-label">Weronika.v.Kowalczyk@gmail.com</div>
        </a>
        <a
          class="content-link icon-link hover-blue"
          href="https://www.artstation.com/wovve"
          target="_blank"
        >
          <img src="~/assets/artstation.svg" class="icon" />
          <div class="content-label">ArtStation</div>
        </a>
      </p>
    </div>
  </main>
</template>

<script>
export default {
  data() {
    return {
      clicks: 0,
    };
  },
};
</script>

<style scoped>
#about-page {
  flex: 1;
  width: 95%;
  height: 100%;
  margin: 0 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 400px;
  margin: 0 2.5%;
}

.content-container:last-child {
  height: fit-content;
}

#selfie {
  max-height: 70vh;
  max-width: 100%;
  margin: 15px 0;
  border-radius: 50px;
}

p {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

a {
  color: black;
  font-weight: bold;
}

hr {
  width: 75%;
}

.icon-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px 7.5px 0;
  text-decoration: none;
}

.icon {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  object-fit: cover;
}

.content-link {
  display: flex;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.content-label {
  margin-left: 5px;
  font-weight: bold;
  font-size: 16px;
}

#email {
  position: relative;
  display: inline-block;
  background-color: #e31c3d;
}

#email i {
  color: white;
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
</style>
