<template>
  <main id="article-page">
    <nuxt-child></nuxt-child>
  </main>
</template>

<style>
#article-page {
  text-align: center;
  width: 95%;
  max-width: 1000px;
  margin: auto;
  padding-top: 10px;
}

#article-page * {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#article-page a {
  transition: color 0.15s ease-in-out;
}

#article-page a:hover {
  color: #00a2e8 !important;
}

#article-page > section > p {
  width: 80%;
}

#article-page > section > p > img {
  min-width: 160%;
  margin-left: -30%;
  margin-right: -30%;
  max-height: 90vh;
}

.side-by-side {
  display: flex;
}

.side-by-side > img {
  flex: 1;
  width: 50%;
}

/* Element styles */

#article-page h1 {
  font-size: 38px;
  line-height: 42px;
}

#article-page blockquote {
  background: rgba(200, 200, 200, 0.5);
  padding: 5px 10px;
  border-radius: 4px;
  color: rgb(50, 50, 50);
}

#article-page blockquote blockquote {
  background: rgba(150, 150, 150, 0.25);
}

#article-page blockquote p:first-child {
  margin-top: 0;
}

#article-page blockquote p:last-child {
  margin-bottom: 0;
}

#article-page ol {
  width: 70%;
  max-width: 600px;
}

#article-page ol li {
  margin: unset;
  text-align: left;
}

#article-page ul {
  width: 80%;
  max-width: 600px;
}

#article-page ul li {
  margin: unset;
  text-align: left;
}

#article-page pre {
  background-color: rgb(210, 210, 210);
  padding: 5px;
}

#article-page code {
  background-color: rgb(210, 210, 210);
}

#article-page hr {
  width: 65vw;
}

#article-page a {
  color: black;
  font-weight: bold;
}

#article-page p > * {
  flex: 1;
  flex-grow: 0;
  object-fit: contain;
}
</style>
