<template>
  <main>
    <h1>Game Projects</h1>
    <p>
      On this page you can find some of the games I've worked on, you can get
      more information about my work on them by clicking on the titles or
      associated images.
    </p>

      <hr />

<!-- 
    <game-overview
      label="Avatar: Frontiers of Pandora"
      image="/banner/crusader-kings-royal-court_banner.jpg"
      article="crusaderkingsroyalcourt"
      >Creating icons, scripting in our engine Clauserwitz, bug fixing, implementation, onboarding new employees and polishing menus.</game-overview
    >
--> 

    <game-overview
      label="Crusader Kings III"
      image="/banner/crusader_kings_banner.jpg"
      article="crusaderkingsroyalcourt"
      >Creating icons, designing screens, scripting in our engine Clauserwitz, bug fixing, implementation, onboarding new employees and polishing menus.</game-overview
    >

    <game-overview
      label="Imperator: Rome"
      image="/banner/imperator-rome_banner.jpg"
      article="imperatorrome"
      >Visual development, scripting in our engine Clauserwitz, layout polishing and creating icons.</game-overview
    >

    <h1>The Game Assembly Projects</h1>
    <p>
      In total I've made 8 games using Scrum at The Game Assembly with multiple
      genres. We worked in teams of 12-16 people under a period of 8-10 weeks halftime (4
      hours a day). I also attended a handful gamejams varying from 24 to
      72 hours in length during my education. I have been responsible for organisation, UI design, concept art
      and 3D modeling in most of these projects.
    </p>

    <hr />

    <game-overview
      label="Hunter"
      image="/Hunter/InstallerSplashscreenHunter.jpg"
      article="hunter"
      >UI, character design, particles, sprites, mockup, cutscenes and
      organization.</game-overview
    >

    <game-overview
      label="One Monster RPG | Running out of slime"
      image="/One Monster RPG/InstallerSplashscreenOnemonster.jpg"
      article="onemonsterRPG"
      >Lighting, artstyle tests, sprites and textures.</game-overview
    >

    <game-overview
      label="Aumi"
      image="/Aumi/splashScreenAumi.jpg"
      article="aumi"
      >UI, character design, animation, sprites, models and
      organization.</game-overview
    >

    <game-overview
      label="Spite: Beyond Salvation"
      image="/Diablo/InstallerSplashscreenSpite.jpg"
      article="diablo"
      >UI, game mockup, 3D models and modules, VFX concepts and organisation.
    </game-overview>

    <game-overview
      label="Breadwinner Dinner"
      image="/Breadwinner Dinner/InstallerSplashscreenBreadwinner.jpg"
      article="breadwinner"
      >3D models.</game-overview
    >

    <game-overview
      label="Molly Mech"
      image="/Molly Mech/InstallerSplashscreenMollyMech.jpg"
      article="mollymech"
      >UI and logos, illustrations for cutscenes, 3D modeling and
      organization.</game-overview
    >

    <game-overview
      label="Post Haste"
      image="/Post Haste/InstallerSplashscreenPostHaste.jpg"
      article="posthaste"
      >Concept art, logos,skyboxes and lighting, materials, 3D assets and
      organization.
    </game-overview>
  </main>
</template>

<script>
import GameOverview from "~/components/GameOverview.vue";

export default {
  components: {
    GameOverview,
  },
};
</script>

<style scoped>
h1,
p,
hr {
  max-width: 900px;
  width: 90%;
  margin: 0 auto 10px;
  text-align: center;
}

main {
  padding-top: 30px;
}
</style>
