<template>
  <main>
    <art-image
      article="example"
      image="/2D/WeronikaKowalczyk_Inktober2019Favorites.jpg"
      name="Inktober 2019 favorites"
    ></art-image>

    <art-image
      article="crusaderkingsroyalcourt"
      image="/Crusader%20Kings/1crusader_kings_icons.jpg"
      name="Crusader Kings icons"
    ></art-image>
    
    <art-image
      article="example"
      image="/2D/WeronikaKowalczyk_DessertMerchant.jpg"
      name="Desert Merchant"
    ></art-image>

    <art-image 
      article="example" 
      image="/2D/WeronikaKowalczyk_ColorKeys.jpg" 
      name="Color Keys"
    ></art-image>

    <art-image
      article="example"
      image="/2D/WeronikaKowalczyk_SelfInsertStudy.jpg"
      name="Self-insert study"
    ></art-image>

    <art-image
      article="example"
      image="/2D/WeronikaKowalczyk_Isometric.jpg"
      name="Isometric Pixelart"
    ></art-image>

    <art-image
      article="example"
      image="/2D/WeronikaKowalczyk_CreditPoses.png"
      name='Different ending art for "One Monster RPG"'
    ></art-image>

    <art-image 
      article="example" 
      image="/2D/WeronikaKowalczyk_CMYKGal.jpg" 
      name="CMYK Monster"
    ></art-image>
    
  </main>
</template>

<script>
import ArtImage from "~/components/ArtImage.vue";

export default {
  components: {
    ArtImage
  },
  layout: "gallery"
};
</script>

<style scoped></style>
