<template>
  <main id="images-container">
    <hero-image img="/home/imperator-rome-main-page.jpg" article="imperatorrome" >Imperator: Rome UI</hero-image>
    <hero-image img="/home/crusader-kings-main-page.jpg" article="crusaderkingsroyalcourt" >Crusader Kings III UI</hero-image>
    <hero-image img="/home/WeronikaKowalczyk_WelcomHomeScene.jpg" article="welcomehome" >Welcome Home</hero-image>
  </main>
</template>

<script>
import HeroImage from "~/components/HeroImage.vue";

export default {
  components: {
    HeroImage
  }
};
</script>

<style scoped>
#images-container {
  display: flex;
  width: 100%;
  height: fit-content;
  min-height: 100%;
}

@media screen and (max-width: 800px) {
  #images-container {
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  #images-container > * {
    flex-shrink: 0;
  }
}
</style>
