<template>
  <main>
    <art-image
      article="skater"
      image="/home/WeronikaKowalczyk_SkaterCharacterBackup.jpg"
      name="Skater girl"
    ></art-image>

    <art-image
      article="welcomehome"
      image="/home/WeronikaKowalczyk_WelcomHomeScene.jpg"
      name="Welcome Home"
    ></art-image>

    <art-image article="example" image="/3D/WeronikaKowalczyk_Apparat.jpg" name="Walkie Talkie"></art-image>
    <art-image article="example" image="/3D/weronikaKowalczyk_stiliserad.jpg" name="Stylized hero"></art-image>
  </main>
</template>

<script>
import ArtImage from "~/components/ArtImage.vue";

export default {
  components: {
    ArtImage
  },
  layout: "gallery"
};
</script>

<style scoped></style>
